<div id="home-banner">
  <div class="container">
    <div class="home-banner-content">
      <div class="row flexbox-row">
        <div class="col-xs-12 col-sm-6" id="home-banner-left">
          <div id="typed-div">
            <span id="typed"></span>
          </div>
          <div id="banner-sign-up">
            <% if false %>
              <% unless user_signed_in? %>
                <a class="llc-button" data-toggle="modal" data-target="#llcModalSignup">Sign Up</a>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "coloured-map.png", id: "map-home" %>
        </div>
      </div>
      <div class="arrow-container bounce">
        <%= image_tag "down-arrow.png", id: "arrow" %>
      </div>
    </div>
  </div>
</div>
<div class="anchor" id="arrow-scroll-anchor"></div>
<div id="taglines-section">
  <div class="container">
    <div class="home-container">
      <div class="tagline-content">
        <h4>Pay what you can afford tuition</h4>
        <div class="row">
          <div class="col-xs-12 col-md-9">
            <p>LLC charges prices on a pay what you can afford basis. As a guide for how much you should pay, we have devised the wealth test. This is a simple set of questions that take into account your income and wealth to suggest you a fee that is affordable.</p>
          </div>
          <div class="col-xs-12 col-md-3">
            <%= image_tag "money-bag-white.png", class: "tagline-icon", id: "money-icon" %>
          </div>
        </div>
      </div>
      <div class="tagline-content">
        <h4 id="learn-local-title">Learn from a local</h4>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <%= image_tag "learn-white.png", class: "tagline-icon", id: "learn-icon" %>
          </div>
          <div class="col-xs-12 col-md-9">
            <p id="tagline-second-description">Everyone in the company, no matter where they live in the world or what they do, earns the same wage of £12.70 per hour. This rate is set at the London Living Wage adjusted for a four-day working week. </p>
          </div>
        </div>
      </div>
      <div class="tagline-content">
        <h4 id="global-wage-title">Pay a global equal wage</h4>
        <div class="row">
          <div class="col-xs-12 col-md-9">
            <p>Learning a language is not just about rules and grammar. It’s also about understanding the culture, history and politics of the people you are going to communicate with. Whether it’s learning Arabic from Gaza or Urdu via Hydrebad, our lessons connect you directly to local tutors.</p>
          </div>
          <div class="col-xs-12 col-md-3">
            <%= image_tag "white-globe.png", class: "tagline-icon", id: "globe-icon"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="languages-home-section">
  <div class="container">
    <div class="home-container">
      <h4 id="our-courses-header">OUR COURSES</h4>
      <div class="language-home">
        <h4>Arabic</h4>
        <p class="homepage-description language-home-description">This is the first course to be taught by Palestinian tutors living in Gaza for international students. The course will teach Palestinian (Levantine) Arabic, a dialect spoken by over 30 million people across Palestine, Jordan, Syria and Lebanon. Its aims are to provide students with a thorough introduction to the language, covering essential working vocabulary and basic grammatical constructions. No prior knowledge of Arabic is needed. The course will be delivered over 10 Skype sessions, with each class lasting for an hour and a half. Lessons can be weekly, fortnightly or more regularly.</p>
        <a href="/languages/1" class="find-out-more">Find out more</a>
      </div>
      <div class="language-home">
        <h4>Urdu</h4>
        <p class="homepage-description language-home-description">Urdu is spoken by over 100 million people around the world, and is the official language of Pakistan. Its script is almost identical to the Persian and Arabic scripts, and it shares around 40% of the vocabulary from these languages  making it a useful gateway language to learn. <br><br>This course will be taught by an experienced Pakistani tutor living in Pakistan via Skype. Students will cover basic grammar and gain a working vocabulary. The course is open to beginners and intermediate Urdu speakers.  The language is presented in an economic, historical and cultural context so that learners are able to appreciate such things as appropriateness, linguistic etiquette, and the legacy of relations between Britain and Pakistan.</p>
        <a href= "/languages/2" class="find-out-more">Find out more</a>
      </div>
    </div>
  </div>
</div>
<div id="about-us-section">
  <div class="container">
    <div class="home-container">
      <h4>Who are we?</h4>
      <div class="flexbox-column">
        <p class="homepage-description">London Learning Cooperative was set up to deliver affordable private tuition, while paying tutors from around the world a fair wage. In many ways, London Learning Cooperative is a simple tuition agency. We put students together with inspiring teachers, to deliver high quality and engaging private language courses. Yet, unlike normal private tuition, we deliver affordable lessons, from tutors around the world, who are all paid an equal wage. Find out more about us <a href="/about" id="find-out-more-about">here</a><br><br>If you are interested in learning Arabic or Urdu and want to find out more information, please email us at <span class="app-red-font">londonlearningcoop@gmail.com</span> and we will get back to you within the next business day.</p>
        <% if false %>
          <% unless user_signed_in? %>
            <p class="homepage-description" id="about-us-try-courses">Why not try one of our courses?</p>
            <a  type="button" class="llc-button" data-toggle="modal" data-target="#llcModalSignup">Sign Up</a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
